*
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!resources
!resources/*
!envs
!envs/*
!environment.yaml
!LICENSE.md
!README.md
!rules
!rules/*
!.gitignore
!.gitattributes

